<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.379408358301-pbf5h2qc00unj69ijtvon1o3har0pn0a</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GIDClientID</key>
	<string>379408358301-pbf5h2qc00unj69ijtvon1o3har0pn0a.apps.googleusercontent.com</string>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1Ijoic2Vva2tpIiwiYSI6ImNscm5sZWFjMDEwcm8yanF6YnBrYTdxbXkifQ.YZ0qAdtbh9FI2-sI7k_UXg</string>
</dict>
</plist>
